---
import { CheckCircle2 } from "lucide-react";

interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="flex gap-2">
  <CheckCircle2 size={18} className="my-auto text-green-400" />
  <p class="pt-0.5 text-zinc-700 dark:text-zinc-300 text-sm">{text}</p>
</div>
