.github/
.ruff_cache/
notebooks/
__pycache__/
.gitkeep

# Individual files to ignore 
./README.md
./LICENSE
./test_index.http
./.pre-commit-config.yaml
./.gitignore
./schema.sql
./environment.yml

# Ignore the front end
frontend/