.github/
.ruff_cache/
notebooks/
__pycache__/
.gitkeep

# Individual files to ignore 
./README.md
./LICENSE
./test_index.http
./.pre-commit-config.yaml
./.gitignore
./schema.sql
./test_index.http


# Ignore the front end, this deployment is for the backend
frontend/

# Ignore the docs
docs/
