---
import DefaultLayoutWithHeader from "@layouts/DefaultLayoutWithHeader.astro";

export const prerender = false;
---

<DefaultLayoutWithHeader>
  <!-- IMPORTANT PAGE: UPDATE IMPORTANT VARIABLES  -->
  <script>
    import update from "$lib/scripts/updatestate";

    // updates important states
    await update();
  </script>

  <p>Coming soon...</p>
</DefaultLayoutWithHeader>
