---
import DefaultLayout from '@layouts/DefaultLayout.astro';

export const prerender = false;
---

<DefaultLayout showHeader={true}>
  <!-- IMPORTANT PAGE: UPDATE IMPORTANT VARIABLES  -->
  <script>
    import update from "$lib/scripts/updatestate";

    // updates important states
    await update();
  </script>

  <p>Dashboard Coming soon...</p>
</DefaultLayout>
