---
import DashboardLayout from '@layouts/DashboardLayout.astro';

export const prerender = false;
---

<DashboardLayout showHeader={false} gridBG={true}>
  <!-- Content -->
  <p>Coming Soon...</p>
</DashboardLayout>
