---
// Something
---

<div
	class="relative flex w-[65vw] h-64 items-center bg-white bg-grid-black/[0.2] dark:bg-[#010109] dark:bg-grid-white/[0.2] ml-auto mr-auto"
>
  <!-- Radial gradient for the container to give a faded look -->
  <div
		class="pointer-events-none absolute inset-0 bg-white rounded-lg [mask-image:radial-gradient(ellipse_at_center,transparent_5%,#010109)] dark:bg-[#010109]"
	></div>

  <slot />
</div>
