---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import SidebarView from "@components/Dashboard/SidebarView.svelte";
import { CommandMenu } from "@components/Dashboard/CommandMenu.tsx";
import { ScrollArea } from "@components/ui/scroll-area/index.js";

import GenerateAPIKeyFullDialog from "@components/GenerateAPIKey/GenerateAPIKeyFullDialog.svelte";

interface Props {
  title?: string;
  gridBG?: boolean;
  showHeader?: boolean;
  useCommandMenu?: boolean;
}

const { title = "UniverseLM", gridBG = true, showHeader = false, useCommandMenu = true } = Astro.props;
---

<DefaultLayout title={title} showHeader={showHeader} padInitial={false} gridBG={gridBG}>
  <!-- IMPORTANT PAGE: UPDATE IMPORTANT CLIENT-SIDE VARIABLES  -->
  <!-- Gonna just leave it here in the layout since the use-case demands that all of em need this -->
  <script>
    import update from "$lib/scripts/updatestate";
    import { authentication } from "$lib/data/stores";

    // updates important states
    await update();

    // Redirect to login if not authenticated
    if (!authentication.isAuthenticated()) {
      // redirect to login; let it stay in the browser history
      window.location.href = '/login';
    }
  </script>

  <!-- Overall Container -->
  <div class="">
    <div class="flex flex-row">
      <!-- Sidebar -->
      <SidebarView client:load/>

      <div class="ml-auto mr-auto p-4">
        {useCommandMenu &&
          <div class="absolute top-2 right-4 w-full flex-1 md:w-auto md:flex-none z-50">
            <CommandMenu client:load />
          </div>
        }

        <!-- Hidden Stuff  -->
        <GenerateAPIKeyFullDialog client:load/>

        <!-- Content -->
        <main class="">
          <slot />
        </main>
      </div>
    </div>
  </div>
</DefaultLayout>
