---
import Layout from './Layout.astro';
import Navbar from '@components/Navbar.svelte';

interface Props {
  title: string;
  showHeader: boolean;
}

const { title = "UniverseLM", showHeader = false } = Astro.props;
---

<Layout title={title}>
  <main>
    <!-- Header -->
    {showHeader && <Navbar client:load/>}
    <slot/>
  </main>
</Layout>
