---
import Layout from './Layout.astro';
//import Navbar from '@components/Navbar.svelte';
import Navbar from "@components/NavBar/Navbar.astro";

interface Props {
  title?: string;
}

const { title = "UniverseLM" } = Astro.props;
---

<Layout title={title}>
  <main>
    <!-- Header -->
    <Navbar/>

    <!-- Content -->
    <slot/>
  </main>
</Layout>
