---
import Layout from './Layout.astro';

//import Navbar from '@components/NavBar/Navbar.svelte
import Navbar from "@components/NavBar/Navbar.astro";

import { GridAndDotBackgroundsSmallGrid } from '@components/ui/GridAndDotBackground';

interface Props {
  title: string;
  showHeader: boolean;
  gridBG: boolean;
}

const { title = "UniverseLM", showHeader = false, gridBG = false } = Astro.props;
---

<Layout title={title} gridBG={gridBG}>
  <main>
    <!-- Header -->
    {showHeader && <Navbar client:load/>}

    <!-- Content -->
    <slot/>
  </main>
</Layout>
