---
import Layout from './Layout.astro';
import Navbar from '@components/Navbar.svelte';

interface Props {
  title?: string;
}

const { title = "UniverseLM" } = Astro.props;
---

<Layout title={title}>
  <main>
    <!-- Header -->
    <Navbar client:load/>

    <!-- Content -->
    <slot/>
  </main>
</Layout>
