---
import Layout from './Layout.astro';

//import Navbar from '@components/NavBar/Navbar.svelte
import Navbar from "../components/NavBar/Navbar.astro";

//import { GridAndDotBackgroundsSmallGrid } from '@components/ui/GridAndDotBackground';

interface Props {
  title?: string;
  showHeader?: boolean;
  gridBG?: boolean;
  padInitial?: boolean;
}

const { title = "UniverseLM", showHeader = false, gridBG = false, padInitial = true } = Astro.props;
---

<Layout title={title} gridBG={gridBG} padInitial={padInitial}>
  <main>
    <!-- Header -->
    {showHeader && <Navbar/>}

    <!-- Content -->
    <slot/>
  </main>
</Layout>
