---
import '@fontsource-variable/manrope';
import '@fontsource-variable/plus-jakarta-sans';
import '@fontsource-variable/inter';

import "$lib/styles/app.css";

interface Props {
	title: string;
  gridBG?: boolean;
}

const { title, gridBG = false } = Astro.props;

let bgClass: string = "p-2";

if (gridBG) {
  bgClass += " bg-white bg-grid-small-black/[0.2] dark:bg-black dark:bg-grid-small-white/[0.2]";
}
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="UniverseLM is the world's first AI agentic community" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logo.png" type="image/x-icon"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={bgClass}>
		<slot />
	</body>
</html>
