---
// Server-side logic
import DefaultLayout from '@layouts/DefaultLayout.astro';
import { FlipWords } from "@components/ui/flip-words";
import { SocietyGenerator } from './SocietyGenerator';
import CommunitiesViewer from '@components/CommunitiesViewer';

import GridBGWithFade from '@components/ui/GridAndDotBackground/GridBGWithFade.astro';

import Globe from '@components/Globe.astro';
import JoinTheWaitlist from './JoinTheWaitlist.svelte';
import Footer from "@components/Footer.svelte";

const attentionWords = ["Multi-Agent Systems", "Communities", "a Text Adventure", "a Knowledge Base", "a Storyline"];
---

<DefaultLayout title="UniverseLM" showHeader gridBG>
  <!-- SCRIPTS -->
  <!-- IMPORTANT PAGE: UPDATE IMPORTANT CLIENT-SIDE VARIABLES  -->
  <script>
    import updateAll from "$lib/scripts/updatestate";
    import { updateAuthentication, updateStargazers } from "$lib/scripts/updatestate";

    // updates important states
    await updateStargazers();
    await updateAuthentication();
  </script>

  <!-- HOOK ATTENTION GRABBER (HERO) -->
  <GridBGWithFade>
    <div class="flex flex-row items-center mb-10">
      <p class="absolute font-bold text-7xl text-center ml-[9rem] bg-gradient-to-r from-indigo-500 to-purple-500 bg-clip-text text-transparent inline">Simulate </p>

      <!-- Only using this div to offset to cover the flexbox issues -->
      <div class="ml-[29.5rem] overflow-visible text-nowrap">
        <FlipWords words={attentionWords} className='font-bold text-7xl text-center bg-gradient-to-r from-indigo-500 to-purple-500 bg-clip-text' client:only="react"/>
      </div>
    </div>
  </GridBGWithFade>

  <!-- BEGINNING OF PROMISE (THE THING) -->
  <p class="absolute inset-0 mt-[20rem] font-bold text-center text-2xl">Create communities of AI Agents right from your fingertips.</p>

  <!-- THE THING (DELIVER/EXCEED PROMISE) -->
  <SocietyGenerator client:load/>

  <!-- THE THING PART 2 (DELIVER/EXCEED PROMISE) -->
  <div class="flex flex-col justify-center">
    <p class="text-center text-2xl">...or join an existing one</p>
    <div class="font-inter min-w-[35vw] ml-auto mr-auto">
      <CommunitiesViewer client:only="svelte"/>
    </div>
  </div>

  <!-- YAP ABOUT WHY THIS IS SO GOOD -->
  <Globe>
    <h1 class="text-bold text-center font-bold text-4xl">UniverseLM is All You Need</h1>
  </Globe>

  <!-- CALL TO ACTION (CTA): JOIN WAITLIST -->
  <JoinTheWaitlist client:visible/>

  <!-- FOOTER -->
  <Footer />
</DefaultLayout>

<style>
  .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 285%;
		background-position: 0%;
	}
</style>
