---
import DefaultLayoutWithHeader from '@layouts/DefaultLayoutWithHeader.astro';
import { FlipWords } from "@components/ui/flip-words";
import { SocietyGenerator } from './SocietyGenerator';

import Card from '@components/Card.astro';


const attentionWords = ["Multi-Agent Systems", "Communities", "a Text Adventure", "a Knowledge Base", "a Storyline"];
---

<DefaultLayoutWithHeader title="UniverseLM">
		<p class="font-bold text-7xl text-center mb-12 mt-3 bg-gradient-to-r from-indigo-500 to-purple-500 bg-clip-text text-transparent inline ml-[27vw]">Simulate </p>
    <FlipWords words={attentionWords} className=' font-bold text-7xl text-center mb-12 mt-3 bg-gradient-to-r from-indigo-500 to-purple-500 bg-clip-text' client:only="react"/><br/>

    <p class="font-bold text-center text-2xl">Create communities of AI Agents right from your fingertips.</p>

    <!-- THE THING -->
    <SocietyGenerator client:load/>

    <!-- THE THING PART 2 -->

    <!-- YAP -->

    <!-- JOIN WAITLIST -->

    <!-- TODO: FOOTER -->
</DefaultLayoutWithHeader>

<style>
  .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 285%;
		background-position: 0%;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
