---
import DefaultLayoutWithHeader from "@layouts/DefaultLayoutWithHeader.astro";
import PricingPage from "./PricingPage";
---

<DefaultLayoutWithHeader title="Pricing - UniverseLM">
  <div>
    <PricingPage client:load/>
  </div>
</DefaultLayoutWithHeader>
